@import url('https://fonts.googleapis.com/css?family=Electrolize');

body
{
	margin: 0px;
	padding: 0px;
	background-image: url('../img/bg.png');
	font-family: 'Electrolize', sans-serif;
}

.green
{
	color: limegreen;
}

#output
{
	padding: 5px;
}

#wrapper
{
	width: 100%;
	margin-top: 150px;
}

#box
{
	width: 350px;
	margin: 0 auto;
	border: 1px rgba(0, 0, 0, 0.9) solid;
}

#box-header
{
	width: 100%;
	height: 35px;
	background-color: rgba(10, 10, 10, 0.7);
	border-bottom: 5px rgba(0, 255, 0, 0.6) solid;
}

#box-title
{
	font-family: 'Electrolize', sans-serif;
	font-weight: normal;
	font-size: 0.8em;
	color: #FFF;
	padding: 10px 5px 5px 10px;
}

#box-content
{
	font-family: 'Electrolize', sans-serif;
	font-weight: normal;
	font-size: 0.8em;
	min-height: 188px;
	background-color: rgba(50, 50, 50, 0.5);
}

#box-strip
{
	width: 100%;
	height: 35px;
	padding-top: 10px;
}

#left
{
	width: 30%;
	float: left;
}

#right
{
	width: 70%;
	float: left;
}

#text
{
	padding: 6px 0px 0px 10px;
	color: #FFF;
}

#login
{
	width: 100%;
	height: 30px;
}

#box input[type="text"]
{
	width: 98%;
	padding: 8px;
	color: limegreen;
	font-family: 'Electrolize', sans-serif;
	font-weight: normal;
	font-size: 1em;
	outline: 0px;
	background-color: rgba(0, 0, 0, 0.5);
	border: 1px #333 solid;
}

#box input[type="password"]
{
	width: 98%;
	padding: 8px;
	font-family: 'Electrolize', sans-serif;
	font-weight: normal;
	font-size: 1em;
	outline: 0px;
	color: limegreen;
	background-color: rgba(0, 0, 0, 0.5);
	border: 1px #333 solid;
}

#box input[type="submit"]
{
	width: 97%;
	padding: 10px 10px 10px 10px;
	margin-left: 5px;
	color: #FFF;
	font-family: 'Electrolize', sans-serif;
	font-weight: normal;
	font-size: 1em;
	outline: 0px;
	background-color: rgba(0, 200, 0, 0.4);
	border: 1px #333 solid;
}

#box input[type="submit"]:hover
{
	width: 97%;
	padding: 10px 10px 10px 10px;
	margin-left: 5px;
	color: #FFF;
	font-family: 'Electrolize', sans-serif;
	font-weight: normal;
	font-size: 1em;
	outline: 0px;
	background-color: rgba(0, 200, 0, 0.6);
	border: 1px #333 solid;
	cursor: pointer;
}